img{
	max-width:100%;
}
.response-cat{
	position: relative;
	z-index: 30;
	margin: 0px 10px 20px 10px;
}
.response-cat div{
	padding: 8px 16px 0px 16px;
	overflow: hidden;
	position: relative;
	font: 18px/25px 'PT Sans Narrow';
	color: #fff;
	text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
	text-align:center;
	text-transform:uppercase;
	font-weight:bold;
}
.response-cat div{
	background:#585858;
	border: 1px solid #000000;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.response-cat select{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	opacity: 0;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	cursor: pointer;
}
.response-link{ margin: 0 10px; float: right;}
.response-link ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.response-link > ul > li {
	background: #38B0E3;
	position: relative;
	float: left;
	
	margin: 2px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}
.response-link > ul > li > a {
	color: #FFF;
	text-decoration: none;
	display: block;
	padding: 5px;
}

.response-cat, .response-link, .response-content{
	display:none;
}

/* Tablet Landscape 992 */
@media only screen and (max-width: 1002px) {
	body{
		/*
		background-color:#FFF;
		background-image:none;
		*/
	}
	#container{
		width: 750px;
		padding:10px;		
	}
	#content .welcome-content {
		font-size: 18px;
	}	
	#column-left{
		display:none;
	}
	#column-left + #column-right + #content, #column-left + #content {
		margin-left: 0px;
	}
	#header_contacts #contacts_phone {   
        font-size: 14px;
    }   
    #footer .column {   
        width: 33%;
        padding-left: 0;
    }    
}

/* Mobile Landscape Size to Tablet Portrait */
@media only screen and (max-width: 778px) {
	body {
		background: #FFF;
	}
	#container{
		width:auto;
		margin-left: auto;
		margin-right: auto;		
	}	
	#content .welcome-content {
		font-size: 16px;
		margin-bottom: 20px;
	}
	#column-right{
		display:none;
	}
	#column-right + #content {
		margin-right:0px;
	}
	#header {
	    height: 130px;
	}
    #header_contacts {
        top: 100px;
        left: 5px;    
    }	
    #header_contacts div {
        display: inline-block;  
    }  
       
    #header_contacts #contacts_email {
        margin-left: 10px;    
    }   
    
    .glyphicon {
        margin-right: 5px;
    }      
	/*
	#header {
		height:220px;
	}	
	#header #logo{
		top: 50px;
	}
	*/
	#header #language, #header #currency{
		width: 150px;
	}
	#header #language{
		left: 162px;
		top: 9px;
	}
	#header #currency{
		left: 5px;
		top: 5px;
	}
	#header #cart {
		top: 0px;
	}
	#header #welcome{
		top:70px;
	}
	#header #search{
		top: 105px;
		right: 0px;
	}
	#header .links{
		display:none;
	}
	
	#footer .column {
		width: 49%;
		min-height: 50px;
	}
	
    #footer .column3 {
        display: none;
    }	
	
	#menu > ul > li > div > ul > li > ul{
		padding-left:20px;
	}
	/*
	#menu, .normal-cat, .toplinks{
		display:none;
	}
	.response-cat, .response-link{
		display:block;
	}
	*/
}

@media only screen and (max-width: 610px) {	
	.welcome {
		margin-left: 5px;
		font-size: 26px;
	}	
	#content .welcome-content {
		font-size: 14px;
	}	
	#content .welcome-content ul {
		margin-left: 0;
	}		
	#header {
		height: 200px;
	}
	#menu {
		height: auto;	
	}
	#menu ul li a {
		font-size: 90%;
		margin-bottom: 0px;
		padding: 4px 5px;
	}
	#header #logo{
		left:5px;
	}
	#header #language, #header #currency{
		width: 150px;
	}
	#header #language{
		left: 162px;
		top: 9px;
	}
	#header #currency{
		left: 5px;
		top: 5px;
	}
	#header #cart {
		left: 5px;
		right: auto;
		top: 125px;
	}
	#header #cart .heading{
		float: left;
		margin-right:0px;
		padding-left: 0px;
	}
	#header #search{
		top: 145px;		
		left: 160px;
		right: auto;
        margin-right: auto;
        width: 100px;		
		z-index: 99;
	}	
    #header #search input {
        width: 64px;
    }	
	#header #welcome {
		left: 5px;
		right: auto;
		top: 185px;
		text-align: left;
	}
	#header .links{
		display:none;
	}
	
    #header_contacts {
        z-index: 96;    
    }	
	
    #header_contacts #contacts_phone {   
        font-size: inherit;
    }  	
	
	.product-info > .left {
		float: left;
		margin-right: auto;
	}
	.product-info > .left + .right {
		margin-left: auto;
		float:left;
	}
	.normal-content{
		display:none;
	}
	.response-content{
		display:inline-block;
	}
	.login-content .left, .login-content .right {
		float: left;
		width: 100%;
	}
	#footer .column {
		width: 100%;
	}
	
}

@media only screen and (min-height: 1400px) {
	body {
		background-position: center top;
	}
}

/*
@media only screen and (max-width: 250px) {
	#header {
		height:260px;
	}
	#header #logo{
		top: 90px;
	}
	#header #language, #header #currency{
		width: 150px;
	}
	#header #language{
		left: 5px;
		top: 40px;
	}
	#header #currency{
		left: 5px;
		top: 5px;
	}
	#header #search{
		top:210px;
		right: 5px;
		width: 208px;
	}
	#header #search input{
		width: 172px;
	}
	#header #cart {
		top: 148px;
		right:0px;
	}
	#header #cart .heading{
		margin-right:0px;
	}
	#header #welcome{
		top:240px;
		right: 5px;
		width: 200px;
	}
	#header .links{
		display:none;
	}
}
*/